# Who Are Our Future Zip Codes According To Census Data?
---
### Summary
    1. Import Modules
    2. Define Census Variables/Tables
    3. Request JSON Through Census API, Convert To Pandas DF
    4. Clean Data
        A. Drop Useless Columns
        B. Rename Columns
        C. Datatypes Format
    5. Data Exploration
        A. Import CSV With Zip Frequency And Monetary Values
        B. What Are The Demographics Of Our Top Zips?
    6. Create Function That Compares Differences
    7. Save Data

## 1. Import Modules

In [1]:
import pandas as pd
import requests

# See all data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', -1)

<ipython-input-1-163dffb5dca6>:7: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

## 2. Define Census Variables/Tables

In [2]:
# Demographics we will use:

# -total population B01001_001E *
# -median age B01002_001E *
# -home age median B25035_001E *
# -median home value B25107_001E *
# -median household income last 12 mo B19013_001E *

api_variables = "B01001_001E,B01002_001E,B25035_001E,B25107_001E,B19013_001E"

## 3. Request JSON Through Census API, Convert To Pandas DF

In [3]:
url = "https://api.census.gov/data/2019/acs/acs5?get={}&for=zip%20code%20tabulation%20area:*&in=state:08".format(api_variables)

payload={}
headers = {
  'Cookie': 'TS010383f0=011ba694f273cea421f27bf0ab2cac56fcf022cae435637d6ff04b48f22db0da4930c5fdccf2e3ecfe07edeb712ddebd5998d53170'
}

response = requests.request("GET", url, headers=headers, data=payload)

In [4]:
def json_to_dataframe(response):
    """
    Convert response to dataframe
    """
    return pd.DataFrame(response.json()[1:], columns=response.json()[0])

In [5]:
df = json_to_dataframe(response)

df.head(1)

,B01001_001E,B01002_001E,B25035_001E,B25107_001E,B19013_001E,state,zip code tabulation area
0,42,59.0,0,-666666666,27000,08,80434

## 4. Clean Data

### A. Drop Useless Columns

In [6]:
df = df.drop(columns=["state"])

df.head(1)

,B01001_001E,B01002_001E,B25035_001E,B25107_001E,B19013_001E,zip code tabulation area
0,42,59.0,0,-666666666,27000,80434

### B. Rename Columns

In [7]:
column_update = ["population", #B01001_001E
                 "median_age", #B01002_001E
                 "median_home_age", #B25035_001E
                 "median_home_value", #B25107_001E
                 "median_income", #B19013_001E
                 "zip"]

df.columns = column_update

In [8]:
df.head(1)

  population median_age median_home_age median_home_value median_income    zip
0  42         59.0       0               -666666666        27000         80434

### C. Datatypes Format

In [9]:
df.dtypes

population           object
median_age           object
median_home_age      object
median_home_value    object
median_income        object
zip                  object
dtype: object

In [10]:
df = df.apply(pd.to_numeric, errors='coerce')

In [11]:
df.dtypes

population           int64
median_age           float64
median_home_age      int64
median_home_value    int64
median_income        int64
zip                  int64
dtype: object

## 5. Data Exploration

### A. Import CSV With Zip Frequency And Monetary Values

In [12]:
df_f_m = pd.read_csv("zip_f_m.csv")

### B. What Are The Demographics Of Our Top Zips?

In [13]:
# Top zips by total monetary value spent
df_f_m[df_f_m['label'] == 'Top'].sort_values('monetary_sum', ascending=False).head(5)

,location_zip,frequency_count,monetary_sum,f_score,m_score,score_total,label
0,80919,1653,489861.74,1,1,2,Top
1,80920,1641,466744.75,1,1,2,Top
4,80906,1236,449015.50,1,1,2,Top
2,80921,1309,347282.33,1,1,2,Top
3,80132,1268,311673.35,1,1,2,Top

In [14]:
# Top zips by total appointments 
df_f_m[df_f_m['label'] == 'Top'].sort_values('frequency_count', ascending=False).head(5)

,location_zip,frequency_count,monetary_sum,f_score,m_score,score_total,label
0,80919,1653,489861.74,1,1,2,Top
1,80920,1641,466744.75,1,1,2,Top
2,80921,1309,347282.33,1,1,2,Top
3,80132,1268,311673.35,1,1,2,Top
4,80906,1236,449015.50,1,1,2,Top

In [15]:
# Create array of selected zips
df_list = df_f_m[df_f_m['label'] == 'Top'].sort_values('monetary_sum', ascending=False).head(5)
zip_array = df_list['location_zip'].tolist()
zip_array

[80919, 80920, 80906, 80921, 80132]

In [16]:
# Demographics of top zips
top_zip_demos = df[df['zip'].isin(zip_array)]
top_zip_demos

,population,median_age,median_home_age,median_home_value,median_income,zip
33,40016,35.6,1992,332000,96284,80920
89,28039,43.6,1988,373500,95320,80919
311,37608,39.1,1984,357800,68701,80906
312,24087,41.5,2004,444900,124085,80921
389,21286,43.9,1996,474200,129009,80132

## 6. Create Function That Compares Differences

In [17]:
def create_df(target_zip):
    """
    Loop through all CO zips finding the 
    differences between target zip
    demographics
    """
    arr = [] 
    for index, row in df.iterrows(): 
        for column in df.columns:   
            if column != 'zip':
                target_zip_data = df[df['zip'] == target_zip]['{}'.format(column)].iat[0]
                other_zip_data = row['{}'.format(column)]

                case = {"selected_zip": int(target_zip), "comparing_zip": int(row['zip']), "category": column, "selected_zip_data": target_zip_data, 
                                "comparing_zip_data": other_zip_data, "difference": abs(target_zip_data-other_zip_data)}
                arr.append(case)
    created_df = pd.DataFrame(arr)
    return created_df

In [18]:
df_80920 = create_df(80920)
df_80906 = create_df(80906)
df_80921 = create_df(80921)
df_80132 = create_df(80132)
df_80919 = create_df(80919)
df_80919.head(10)

,selected_zip,comparing_zip,category,selected_zip_data,comparing_zip_data,difference
0,80919,80434,population,28039.0,42.0,27997.0
1,80919,80434,median_age,43.6,59.0,15.4
2,80919,80434,median_home_age,1988.0,0.0,1988.0
3,80919,80434,median_home_value,373500.0,-666666666.0,667040166.0
4,80919,80434,median_income,95320.0,27000.0,68320.0
5,80919,80446,population,28039.0,4257.0,23782.0
6,80919,80446,median_age,43.6,48.7,5.1
7,80919,80446,median_home_age,1988.0,1995.0,7.0
8,80919,80446,median_home_value,373500.0,276800.0,96700.0
9,80919,80446,median_income,95320.0,68272.0,27048.0

In [19]:
def create_piv(df, zip_string):
    """
    Pivot the df, aggregate all values,
    top 10 lowest values sorted saved 
    as CSV
    """
    piv = df.pivot(index='comparing_zip',
              columns='category',
              values='difference')
    piv['agg_diffs']= piv.sum(axis=1)
    piv['selected_zip'] = zip_string
    piv = piv.sort_values('agg_diffs').head(10)
    return piv

In [67]:
# Concat all dfs to final pivot df
final_piv = pd.concat([create_piv(df_80920, "80920"), create_piv(df_80906, "80906"), 
                      create_piv(df_80921, "80921"), create_piv(df_80132, "80132"),
                      create_piv(df_80919, "80919")])

In [21]:
# Final data
final_piv = final_piv.reset_index()

category,comparing_zip,median_age,median_home_age,median_home_value,median_income,population,agg_diffs,selected_zip
0,80920,0.0,0.0,0.0,0.0,0.0,0.0,80920
1,80241,1.1,2.0,7300.0,5726.0,6378.0,19407.1,80920
2,80831,2.7,10.0,3800.0,1641.0,14491.0,19944.7,80920
3,80537,5.6,7.0,1100.0,24164.0,3567.0,28843.6,80920
4,80031,2.5,7.0,16900.0,14013.0,4275.0,35197.5,80920
5,80603,0.5,10.0,1400.0,8794.0,26081.0,36285.5,80920
6,80601,2.2,7.0,18300.0,20609.0,750.0,39668.2,80920
7,81507,15.2,7.0,4400.0,11277.0,25063.0,40762.2,80920
8,80549,0.1,8.0,7700.0,5828.0,27881.0,41417.1,80920
9,80538,6.1,2.0,9100.0,26829.0,9242.0,45179.1,80920
10,80906,0.0,0.0,0.0,0.0,0.0,0.0,80906
11,80524,3.3,0.0,2900.0,5428.0,1111.0,9442.3,80906
12,80227,0.0,6.0,9500.0,2276.0,2730.0,14512.0,80906
13,80526,7.3,3.0,5300.0,1412.0,8663.0,15385.3,80906
14,80021,3.6,7.0,4700.0,7178.0,3511.0,15399.6,80906
15,80226,4.4,12.0,11500.0,4929.0,4011.0,20456.4,80906
16,80031,1.0,1.0,8900.0,13570.0,1867.0,24339.0,80906
17,80234,4.2,5.0,9600.0,5947.0,9475.0,25031.2,80906
18,80231,4.7,4.0,17100.0,9719.0,747.0,27574.7,80906
19,80214,3.1,19.0,2500.0,18183.0,10897.0,31602.1,80906
20,80921,0.0,0.0,0.0,0.0,0.0,0.0,80921
21,80109,5.3,1.0,4600.0,1332.0,422.0,6360.3,80921
22,80130,4.0,8.0,10300.0,1874.0,4905.0,17091.0,80921
23,80528,6.4,1.0,1400.0,20147.0,1446.0,23000.4,80921
24,80602,3.9,1.0,4800.0,7585.0,12175.0,24564.9,80921
25,80924,7.2,7.0,7000.0,4884.0,13949.0,25847.2,80921
26,80129,1.3,6.0,15000.0,5767.0,7215.0,27989.3,80921
27,80138,1.4,8.0,22900.0,2369.0,9484.0,34762.4,80921
28,80125,0.2,7.0,12800.0,8820.0,13539.0,35166.2,80921
29,80127,2.3,13.0,4600.0,10431.0,21217.0,36263.3,80921
30,80132,0.0,0.0,0.0,0.0,0.0,0.0,80132
31,80516,6.4,8.0,1300.0,10343.0,6968.0,18625.4,80132
32,80138,3.8,0.0,6400.0,7293.0,12285.0,25981.8,80132
33,80908,2.8,7.0,5800.0,18241.0,2781.0,26831.8,80132
34,80130,6.4,0.0,19000.0,3050.0,7706.0,29762.4,80132
35,80109,7.7,9.0,24700.0,3592.0,2379.0,30687.7,80132
36,80107,0.8,2.0,400.0,22503.0,7812.0,30717.8,80132
37,80125,2.2,1.0,16500.0,3896.0,10738.0,31137.2,80132
38,80126,3.6,1.0,9500.0,15.0,22070.0,31589.6,80132
39,80924,9.6,15.0,22300.0,40.0,11148.0,33512.6,80132
40,80919,0.0,0.0,0.0,0.0,0.0,0.0,80919
41,80128,2.6,6.0,4800.0,270.0,8396.0,13474.6,80919
42,80550,5.3,14.0,20400.0,1587.0,2480.0,24486.3,80919
43,80018,9.0,17.0,3200.0,10223.0,14642.0,28091.0,80919
44,80104,6.5,12.0,17600.0,7180.0,3483.0,28281.5,80919
45,80542,8.4,13.0,3500.0,2744.0,23121.0,29386.4,80919
46,80020,5.5,0.0,6800.0,881.0,22452.0,30138.5,80919
47,80457,6.2,14.0,2700.0,2805.0,27847.0,33372.2,80919
48,80504,6.4,13.0,5900.0,128.0,27440.0,33487.4,80919
49,80004,1.7,15.0,9900.0,16734.0,8556.0,35206.7,80919

## 7. Save Data

In [724]:
# Save final csv files

final_piv.to_csv("final_piv.csv", encoding='utf-8', index=True)

top_zip_demos.to_csv("top_zip_demos.csv", encoding='utf-8', index=True)